.work-slide-item {
  .work-image-wrapper {
    .work-image {
      height: auto;
      margin-bottom: 20px;
      @include media-breakpoint-up(md) {
        margin-bottom: 0;
      }
    }
  }
  .work-description-wrapper {
    .work-description {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      .work-links {
        width: 100%;
      }
    }
  }
}
