.work-slide-item {
  margin: 0 20px;
  @include media-breakpoint-up(sm) {
    margin: 0 60px;
  }
  @include media-breakpoint-up(md) {
    margin: 0 130px;
  }
  .work-image-wrapper {
    .work-image {
      height: auto;
      margin-bottom: 20px;
      @include media-breakpoint-up(md) {
        margin-bottom: 0;
      }
    }
  }
  .work-description-wrapper {
    .work-description {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
    }
  }
}
