.banner-section {
  background-image: url('#{$images}/polygon-abstract-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  h2 {
    font-size: 7rem;
  }
  h4 {
    font-size: 4rem;
  }
  .particles {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  .main-logo-wrapper {
    @include transform-translateX(-50%);
    left: 50%;
    position: absolute;
    top: 21px;
    z-index: 1;
  }
  .full-name-wrapper {
    @include transform-translate(-50%, -50%);
    left: 50%;
    padding: 0 10px;
    position: absolute;
    top: 50%;
    z-index: 2;
    @include media-breakpoint-up(sm) {
      left: 30%;
    }
  }
  .face-portrait-wrapper {
    position: absolute;
    right: 0;
    top: 0 ;
    @include media-breakpoint-down(sm) {
      left: 0;
      right: auto;
    }
  }
  .social-media-menu {
    bottom: 21px;
    left: 10px;
    position: absolute;
    width: 230px;
    z-index: 1;
    .social-media-item {
      display: inline-block;
      margin: 3px;
      &:nth-child(n+5) {
        margin-top: -17px;
      }
      &:nth-child(7n-2) {
        margin-left: 26px;
      }
    }
  }
  .scroll-down-icon-wrapper {
    @include transform-translateX(-50%);
    bottom: 21px;
    left: 50%;
    position: absolute;
  }
}
