.contact-section {
  .contact-details {
    margin-bottom: 10px;
    @include media-breakpoint-up(sm) {
      margin-bottom: 0;
    }
    .contact-info {
      margin: 5px 0;
      @include display-flex();
      @include align-items(center);
      @include media-breakpoint-up(sm) {
        display: block;
        margin: 40px 0;
      }
      .circle-icon {
        margin-bottom: 0;
        margin-right: 11px;
        @include media-breakpoint-up(sm) {
          margin: 0 auto;
          margin-bottom: 20px;
        }
      }
      .contact-link {
        font-size: 17px;
        font-weight: bold;
        &:hover {
          color: #fff;
          text-decoration: underline;
        }
      }
    }
  }
  .social-contact {
    text-align: center;
    .social-media-menu {
      margin: 0 auto;
      width: 230px;
      .social-media-item {
        display: inline-block;
        margin: 3px;
        &:nth-child(n+5) {
          margin-top: -15px;
        }
        &:nth-child(7n-2) {
          margin-left: 2px;
        }
        @include media-breakpoint-up(sm) {
          &:nth-child(n+5) {
            margin-top: 3px;
          }
          &:nth-child(7n-2) {
            margin-left: 3px;
          }
        }
      }
      @include media-breakpoint-up(sm) {
        width: auto;
      }
    }
  }
  .logo-speech-wrapper {
    @include transform-translateY(-55%);
    @include transition(all 0.4s ease-in);
    bottom: auto;
    position: absolute;
    right: 121px;
    top: 100%;
    z-index: 2;
    &:hover {
      @include transform-translateY(-100%);
    }
  }
}
