.footer-section {
  background-image: url('#{$images}/footer-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .footer-logo {
    .badge-logo {
      @include media-breakpoint-up(sm) {
        width: 30vw !important;
      }
    }
  }
}
