.work-section {
  .slick-slider,
  .slick-list,
  .slick-track,
  .slick-slide {
    height: 100%;
  }
  .slick-slide {
    @include align-items(center);
    @include display-flex();
  }
  .slick-prev,
  .slick-next,
  .slick-dots {
    z-index: 10;
  }
  .slick-next,
  .slick-prev {
    display: none !important;
    @include media-breakpoint-up(md) {
      display: block !important;
    }
  }
  .slick-next {
    right: 60px;
  }
  .slick-prev {
    left: 60px;
  }
  .slick-dots {
    bottom: 0;
  }
}
