.banner-section {
  background-color: #000;
  color: #fff;
  &,
  .particles,
  .face-portrait .low-poly {
    height: 100%;
  }
  h2 {
    font-size: 7rem;
  }
  h4 {
    font-size: 4rem;
  }
  .particles {
    width: 100%;
  }
  .banner-description {
    @include transform-translateY(-50%);
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 1;
  }
  .social-media-menu {
    margin-top: 30px;
    width: 230px;
    .social-media-item {
      display: inline-block;
      margin: 3px;
      &:nth-child(n+5) {
        margin-top: -17px;
      }
      &:nth-child(7n-2) {
        margin-left: 31px;
      }
    }
  }
  .face-portrait {
    position: absolute;
    right: 0;
    top: 0 ;
    @include media-breakpoint-down(sm) {
      left: 0;
      right: auto;
    }
    .low-poly {
      height: 100vh;
      width: auto;
      .admin-bar & {
        height: calc(100vh - #{$wp-admin-bar-height-desktop});
        @media (max-width: $wp-admin-screen-md-max) {
          height: calc(100vh - #{$wp-admin-bar-height-mobile});
        }
      }
    }
  }
  .scroll-down-indicator {
    bottom: 21px;
    position: absolute;
    width: 100%;
  }
}
