.scroll-down-icon {
  $animation-duration: 1.5s;
  $animation-timing-function: cubic-bezier(0.650, -0.550, 0.250, 1.500);
  $animation-iteration-count: infinite;
  $mouse-color: $color-red-violet;
  font-size: 14px;
  text-align: center;
  text-transform: lowercase;
  .mouse {
    animation: 'mouse' $animation-duration $animation-timing-function $animation-iteration-count;
    border: 2px solid $mouse-color;
    border-radius: 15px;
  	display: block;
  	height: 45px;
    margin: 0 auto;
    position: relative;
  	width: 30px;
  }
  .scroll-wheel {
    &:before,
    &:after {
      content: "";
      left: 50%;
      position: absolute;
    }
    &:before {
      background-color: rgba($mouse-color, 0.4);
      border-radius: 2px;
      height: 55%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 2px;
    }
    &:after {
      animation: 'scroll-wheel' $animation-duration $animation-timing-function $animation-iteration-count;
      background-color: $mouse-color;
      border-radius: 3px;
      height: 10px;
      transform: translateX(-50%);
      width: 6px;
    }
  }
}
