.scroll-down-icon {
  $animation-duration: 1.5s;
  $animation-timing-function: cubic-bezier(0.650, -0.550, 0.250, 1.500);
  $animation-iteration-count: infinite;
  $mouse-color: $color-red-violet;
  font-size: 14px;
  text-align: center;
  text-transform: lowercase;
  .mouse {
    @include animation(mouse $animation-duration $animation-timing-function $animation-iteration-count);
    border: 3px solid $mouse-color;
    border-radius: 15px;
  	display: block;
  	height: 45px;
    margin: 0 auto;
    position: relative;
  	width: 30px;
  }
  .scroll-wheel {
    &:before,
    &:after {
      content: "";
      left: 50%;
      position: absolute;
    }
    &:before {
      @include transform-translate(-50%, -50%);
      background-color: rgba($mouse-color, 0.4);
      border-radius: 2px;
      height: 55%;
      top: 50%;
      width: 4px;
    }
    &:after {
      @include animation(scroll-wheel $animation-duration $animation-timing-function $animation-iteration-count);
      @include transform-translateX(-50%);
      background-color: $mouse-color;
      border-radius: 50%;
      height: 10px;
      width: 10px;
    }
  }
}
