.circle-icon {
  $bg-color: $color-treehouse;
  $bg-color-hover: $color-punch;
  $color: $color-punch;
  $color-hover: $color-treehouse;
  $size: 140px;
  @include transition(all 0.3s ease);
  background-color: $bg-color;
  border: 5px solid $bg-color;
  border-radius: 50%;
  height: $size;
  justify-content: center;
  width: $size;
  &:hover {
    background-color: $bg-color-hover;
    .fa {
      color: $color-hover;
    }
  }
  .fa {
    @include transition(all 0.3s ease);
    color: $color;
  }
}
