.circle-icon {
  $bg-color: $color-punch;
  $bg-color-hover: $color-treehouse;
  $color: $color-treehouse;
  $color-hover: $color-punch;
  $desktop-size: 140px;
  $mobile-size: 70px;
  @include transition(all 0.3s ease);
  background-color: $bg-color;
  border: 5px solid $bg-color-hover;
  border-radius: 50%;
  height: $mobile-size;
  justify-content: center;
  width: $mobile-size;
  @include media-breakpoint-up(sm) {
    height: $desktop-size;
    width: $desktop-size;
  }
  &:hover {
    background-color: $bg-color-hover;
    .fa {
      color: $color-hover;
    }
  }
  .fa {
    @include transition(all 0.3s ease);
    color: $color;
  }
}
