.face-portrait {
  .low-poly {
    height: 100vh;
    width: auto;
    .admin-bar & {
      height: calc(100vh - #{$wp-admin-bar-height-desktop});
      @media (max-width: $wp-admin-screen-md-max) {
        height: calc(100vh - #{$wp-admin-bar-height-mobile});
      }
    }
  }
}
