.flip-button {
  $color: #fff;
  $desktop-height: 60px;
  $mobile-height: 45px;
  $width: 100%;
  height: $mobile-height;
  perspective: 1000px;
  position: relative;
  width: $width;
  @include media-breakpoint-up(sm) {
    height: $desktop-height;
  }
  &.black {
    & > a {
      &:before,
      &:after {
        border-color: #000;
      }
      &:before {
        background-color: #000;
        color: #fff;
      }
      &:after {
        color: #000;
      }
    }
  }
  &.white {
    & > a {
      &:before,
      &:after {
        border-color: #fff;
      }
      &:before {
        background-color: #fff;
        color: #000;
      }
      &:after {
        color: #fff;
      }
    }
  }
  & > a {
    font-weight: bold;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    text-transform: uppercase;
    transform-style: preserve-3d;
    transform: translateZ(-($mobile-height / 2));
    transition: transform 0.25s;
    &:before,
    &:after {
      content: attr(title);
      align-items: center;
      border-style: solid;
      border-width: 5px;
      box-sizing: border-box;
      display: flex;
      font-size: 17px;
      height: $mobile-height;
      justify-content: center;
      margin: 0;
      position: absolute;
      text-align: center;
      width: $width;
      @include media-breakpoint-up(sm) {
        height: $desktop-height;
      }
    }
    &:before {
      transform: rotateY(0) translateZ($mobile-height / 2);
      @include media-breakpoint-up(sm) {
        transform: rotateY(0) translateZ($desktop-height / 2);
      }
    }
    &:after {
      transform: rotateX(90deg) translateZ($mobile-height / 2);
      @include media-breakpoint-up(sm) {
        transform: rotateX(90deg) translateZ($desktop-height / 2);
      }
      background-color: transparent;
    }
    &:hover {
      transform: translateZ(-($mobile-height / 2)) rotateX(-90deg);
      @include media-breakpoint-up(sm) {
        transform: translateZ(-($desktop-height / 2)) rotateX(-90deg);
      }
    }
    @include media-breakpoint-up(sm) {
      transform: translateZ(-($desktop-height / 2));
    }
  }
}
