.logo-speech {
  position: relative;
  .speech-bubble {
    bottom: 110%;
    left: -160px;
    position: absolute;
  }
  .speaker {
    .face-logo {
      height: auto;
      width: 200px;
    }
  }
}
