.social-media-item {
  $bg-color: $color-treehouse;
  $social-media-list: 'facebook' 'twitter' 'instagram' 'linkedin' 'google-plus' 'youtube' 'github';
  $social-media-colors: $color-facebook $color-twitter $color-instagram $color-linkedin $color-google-plus $color-youtube $color-github;
  @include transition(all 0.2s cubic-bezier(0, 1.1, 0.5, 3));
  height: 50px;
  position: relative;
  width: 42px;
  @for $i from 1 through length($social-media-list) {
    &.#{nth($social-media-list, $i)} {
      &:hover {
        .hexagon-vertical {
          background-color: nth($social_media_colors, $i);
        }
      }
    }
  }
  &:hover {
    @include transform-scale(1.2);
    z-index: 1;
    .hexagon-vertical {
      .fa {
        color: #fff;
      }
    }
  }
  .hexagon-anti-diagonal {
    @include transform-rotate(120deg);
    cursor: pointer;
    height: 100%;
    overflow: hidden;
    position: absolute;
    visibility: hidden;
    width: 100%;
  }
  .hexagon-main-diagonal {
    @include transform-rotate(-60deg);
    height: 100%;
    overflow: hidden;
    width: 100%;
  }
  .hexagon-vertical {
    @include align-items(center);
    @include display-flex();
    @include justify-content(center);
    @include transform-rotate(-60deg);
    @include transition(all 0.3s ease);
    background-color: $bg-color;
    height: 100%;
    overflow: hidden;
    text-align: center;
    visibility: visible;
    width: 100%;
    .fa {
      @include transition(all 0.3s ease);
      color: $color-primary;
      font-size: 21px;
      text-align: unset;
    }
  }
}
