.pace {
  .pace-progress {
    background-color: $color-primary;
    height: 4px;
    z-index: 100000;
  }
}
.full-page-section {
  overflow: hidden !important;
  .admin-bar & {
    padding-bottom: $wp-admin-bar-height-desktop !important;
    @media (max-width: $wp-admin-screen-md-max) {
      padding-bottom: $wp-admin-bar-height-mobile !important;
    }
  }
}
.full-page-navigation {
  @include transform-translateY(-50%);
  position: fixed;
  right: 20px;
  top: 50%;
  z-index: 10;
  #{&}-anchor {
    $size: 5px;
    display: block;
    margin: 3px;
    padding: 7px;
    position: relative;
    @include media-breakpoint-up(sm) {
      padding: 14px;
    }
    &:before {
      content: "";
      @include transform-translate(-50%, -50%);
      @include transition(all 0.2s ease-in);
      background-color: #fff;
      border-radius: 50%;
      height: $size;
      left: 50%;
      position: absolute;
      top: 50%;
      width: $size;
    }
    &:hover {
      $size: 11px;
      &:before {
        height: $size;
        width: $size;
      }
    }
    &.active {
      $size: 15px;
      &:before {
        height: $size;
        width: $size;
      }
    }
  }
}
.slick-next,
.slick-prev {
  height: auto;
  width: auto;
  &:before {
    @include opacity(0.5);
    @include transition(all 0.2s ease-in);
    color: #000;
    font-family: $font-family-font-awesome;
    font-size: 100px;
  }
}
.slick-next {
  &:before {
    content:  "\f105";
  }
}
.slick-prev {
  &:before {
    content:  "\f104";
  }
}

.slick-dots {
  li {
    height: auto;
    margin: 0;
    padding: 0;
    width: auto;
    button {
      $size: 5px;
      display: block;
      margin: 0;
      padding: 0;
      position: relative;
      @include media-breakpoint-up(sm) {
        margin: 3px;
        padding: 14px;
      }
      &:before {
        content: "";
        @include opacity(1);
        @include transition(all 0.2s ease-in);
        @include transform-translate(-50%, -50%);
        @include transition(all 0.2s ease-in);
        background-color: #000;
        border-radius: 50%;
        height: $size;
        left: 50%;
        position: absolute;
        top: 50%;
        width: $size;
      }
      &:hover {
        $size: 11px;
        &:before {
          height: $size;
          width: $size;
        }
      }
    }
    &.slick-active {
      button {
        $size: 15px;
        &:before {
          @include opacity(1);
          height: $size;
          width: $size;
        }
      }
    }
  }
}
