html,
body {
  height: 100%;
  width: 100%;
}
html {
  @include media-breakpoint-down(xs) {
    font-size: 6px;
  }
  @include media-breakpoint-up(xs) {
    font-size: 9px;
  }
  @include media-breakpoint-up(sm) {
    font-size: 10px;
  }
  @include media-breakpoint-up(md) {
    font-size: 12px;
  }
  @include media-breakpoint-up(lg) {
    font-size: 14px;
  }
}
body {
  background-color: $color-mine-shaft;
  font-family: $font-family-lato;
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
}
#wpadminbar {
  @media (max-width: $wp-admin-screen-xs-max) {
    position: fixed;
  }
}
h1, h2 {
  font-family: $font-family-lobster;
}
h3, h4, h5 {
  font-family: $font-family-lato;
  font-weight: bold;
}
a {
  cursor: pointer;
  text-decoration: none;
  &:focus,
  &:hover {
    text-decoration: none;
  }
}
section[class*=-section] {
  padding: 30px 0;
  position: relative;
  .full-page-section & {
    height: 100%;
  }
}
.background-primary {
  background-color: $color-primary;
}
.background-secondary {
  background-color: $color-secondary;
}
.background-tertiary {
  background-color: $color-tertiary;
}
.background-black {
  background-color: $color-mine-shaft;
}
.background-white {
  background-color: #fff;
}
.color-primary {
  color: $color-primary;
}
.color-secondary {
  color: $color-secondary
}
.color-tertiary {
  color: $color-tertiary;
}
.color-dark-brown {
  color: $color-treehouse;
}
.color-black {
  color: #000;
}
.color-white {
  color: #fff;
}
.section-title {
  font-size: 4rem;
  text-align: left;
  @include media-breakpoint-up(md) {
    text-align: center;
  }
}
.speech-bubble {
  &.big {
    font-size: 25px;
    width: 300px;
  }
  &.small {
    font-size: 14px;
    width: 200px;
  }
  &.left {
    &:before {
      border-color: #000 #000 transparent transparent;
      right: 18px;
    }
    &:after {
      border-color: #fff #fff transparent transparent;
      right: 21px;
    }
  }
  &.right {
    &:before {
      border-color: #000 transparent transparent #000;
      left: 18px;
    }
    &:after {
      border-color: #fff transparent transparent #fff;
      left: 21px;
    }
  }
  background-color: #fff;
  border: 3px solid #000;
  border-radius: 30px;
  color: #000;
  font-family: $font-family-komika-axis;
  margin: 0;
  padding: 20px;
  text-align: center;
  &:before,
  &:after {
    content: "";
    height: 0;
    left: auto;
    position: absolute;
    width: 0;
  }
  &:before {
    border: 14px solid;
    bottom: -28px;
  }
  &:after {
    border: 11px solid;
    bottom: -21px;
  }
}
