html,
body {
  height: 100%;
  width: 100%;
}
html {
  font-size: 10px;
  @include media-breakpoint-up(sm) {
    font-size: 14px;
  }
  @include media-breakpoint-up(lg) {
    font-size: 16px;
  }
}
body {
  background-color: $color-mine-shaft;
  font-family: $font-family-lato;
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  @include selection {
    background: $color-electric-violet;
    color: #fff;
  }
}
#wpadminbar {
  @media (max-width: $wp-admin-screen-xs-max) {
    position: fixed;
  }
}
h1, h2 {
  font-family: $font-family-lobster;
}
h3, h4, h5 {
  font-family: $font-family-lato;
  font-weight: bold;
}
a {
  cursor: pointer;
  text-decoration: none;
  &:focus,
  &:hover {
    text-decoration: none;
  }
}
button {
  cursor: pointer;
}
section[class*=-section] {
  padding: 30px 0;
  position: relative;
  .full-page-section & {
    height: 100%;
  }
}
.background-primary {
  background-color: $color-primary;
}
.background-secondary {
  background-color: $color-secondary;
}
.background-tertiary {
  background-color: $color-tertiary;
}
.background-black {
  background-color: $color-mine-shaft;
}
.background-white {
  background-color: #fff;
}
.color-primary {
  color: $color-primary;
}
.color-secondary {
  color: $color-secondary
}
.color-tertiary {
  color: $color-tertiary;
}
.color-dark-brown {
  color: $color-treehouse;
}
.color-black {
  color: #000;
}
.color-white {
  color: #fff;
}
.vertical-align-middle {
  @include display-flex();
  @include align-items(center);
}
.section-title,
.section-description {
  text-align: left;
  @include media-breakpoint-up(md) {
    text-align: center;
  }
}
.section-title {
  font-size: 4rem;
}
.section-description {
  font-size: 1.5rem;
}
