html,
body {
  height: 100%;
  width: 100%;
}
html {
  @include media-breakpoint-down(xs) {
    font-size: 6px;
  }
  @include media-breakpoint-up(xs) {
    font-size: 9px;
  }
  @include media-breakpoint-up(sm) {
    font-size: 10px;
  }
  @include media-breakpoint-up(md) {
    font-size: 12px;
  }
  @include media-breakpoint-up(lg) {
    font-size: 14px;
  }
}
body {
  background-color: $color-tertiary;
  font-family: $font-family-lato;
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
}
#wpadminbar {
  @media (max-width: $wp-admin-screen-xs-max) {
    position: fixed;
  }
}
h1, h2 {
  font-family: $font-family-chunk-five-print;
}
h3, h4, h5 {
  font-family: $font-family-lobster;
  font-weight: bold;
}
a {
  cursor: pointer;
  text-decoration: none;
  &:focus,
  &:hover {
    text-decoration: none;
  }
}
section[class*=-section] {
  position: relative;
}
.pace {
  .pace-progress {
    background-color: $color-primary;
    height: 4px;
    z-index: 100000;
  }
}
.full-page-section {
  overflow: hidden !important;
}
