/* Colors */

// Color Variables
$color-amber: #ffbf00;
$color-butterfly-bush: #6e5494;
$color-cerulean: #00aced;
$color-chambray: #3b5998;
$color-cyan: #00f5ff;
$color-deep-cerulean: #0077b5;
$color-dusty-gray: #999;
$color-electric-violet: #9400d3;
$color-flamingo: #f26630;
$color-mercury: #e9e9e9;
$color-mine-shaft: #353535;
$color-pomegranate: #ee3224;
$color-red: #ff0000;
$color-red-violet: #d60c86;
$color-studio: #8a3ab9;
$color-treehouse: #34231b;
$color-valencia: #d34836;

// Color palette
$color-primary: $color-cyan;
$color-secondary: $color-amber;
$color-tertiary: $color-flamingo;

// Color social media
$color-facebook: $color-chambray;
$color-github: $color-butterfly-bush;
$color-google-plus: $color-valencia;
$color-instagram: $color-studio;
$color-linkedin: $color-deep-cerulean;
$color-twitter: $color-cerulean;
$color-youtube: $color-red;

/* Fonts */
$fonts: "../fonts"; // Fonts path

// Font families
$font-family-font-awesome: 'FontAwesome';
$font-family-chunk-five-print: 'Chunk Five Print';
$font-family-lobster: Lobster, cursive;
$font-family-lato: Lato, sans-serif;
$font-family-komika-axis: 'Komika Axis';

/* Images */
$images: "../images"; // Images path

/* WP admin */
$wp-admin-bar-height-desktop: 32px;
$wp-admin-bar-height-mobile: 46px;
$wp-admin-screen-md-max: 783px;
$wp-admin-screen-xs-max: 600px;
