/* Colors */

// Color Variables
$color-java: #16d5af;
$color-lightning-yellow: #fabe15;
$color-mine-shaft: #353535;

// Color palette
$color-primary: $color-java;
$color-secondary: $color-lightning-yellow;
$color-tertiary: $color-mine-shaft;

/* Fonts */
$fonts: "../fonts"; // Fonts path

// Font families
$font-family-lobster: Lobster, cursive;
$font-family-lato: Lato, sans-serif;

/* Images */
$images: "../images"; // Images path
