/* Colors */

// Color Variables
$color-butterfly-bush: #6e5494;
$color-cerulean: #00aced;
$color-chambray: #3b5998;
$color-deep-cerulean: #0077b5;
$color-dusty-gray: #999;
$color-punch: #da4d2f;
$color-java: #16d5af;
$color-lightning-yellow: #fabe15;
$color-mine-shaft: #353535;
$color-red: #ff0000;
$color-studio: #8a3ab9;
$color-treehouse: #34231b;
$color-valencia: #d34836;

// Color palette
$color-primary: $color-punch;
$color-secondary: $color-java;
$color-tertiary: $color-lightning-yellow;

// Color social media
$color-facebook: $color-chambray;
$color-github: $color-butterfly-bush;
$color-google-plus: $color-valencia;
$color-instagram: $color-studio;
$color-linkedin: $color-deep-cerulean;
$color-twitter: $color-cerulean;
$color-youtube: $color-red;

/* Fonts */
$fonts: "../fonts"; // Fonts path

// Font families
$font-family-font-awesome: 'FontAwesome';
$font-family-chunk-five-print: 'Chunk Five Print';
$font-family-lobster: Lobster, cursive;
$font-family-lato: Lato, sans-serif;
$font-family-komika-axis: 'Komika Axis';

/* Images */
$images: "../images"; // Images path

/* WP admin */
$wp-admin-bar-height-desktop: 32px;
$wp-admin-bar-height-mobile: 46px;
$wp-admin-screen-md-max: 783px;
$wp-admin-screen-xs-max: 600px;
